<div class="row" id="product-{{ hashed_id|raw }}">
	<div class="col-md-5 col-md-offset-0">
		<div class="form-group">
			<label class="product-title">{{ _t(title) }}</label>
			<div class="order-product-code">
                <label for="" class="in-line code-label">{{ LANG.CODE }}: </label>
                <span class="in-line code-value">{{ code|raw }}</span>
            </div>
		</div>
	</div>
	<div class="col-md-2 col-md-offset-0">
		<div class="form-group">
			<img src="{{ image|raw }}" alt="" class="img-rounded" height="100" />
		</div>
	</div>
	<div class="col-md-1 col-md-offset-0">
		<div class="form-group">
			{{ quantity_field|raw }}
		</div>
	</div>
	<div class="col-md-2 col-md-offset-0">
		<div class="form-group">
			{{ manager_field|raw }}
		</div>
	</div>
	<div class="col-md-2 col-md-offset-0">
		<div class="form-group">
			<kbd><kbd>
				<a class="" id="chose-product-variants" onclick="choseProductVariants({{ id }}{{ order_item.order_id is not empty ? ","~order_item.order_id : ',0' }},'{{ hashed_id }}')">
					{{ LANG.CHOOSE_VARIANTS }}
				</a>
			</kbd></kbd>
			<div class="hidden" id="product-variants-container-{{ hashed_id|raw }}">
				{{ checked_variants_html|raw }}
			</div>
		</div>
	</div>
</div>