<h1 xmlns="http://www.w3.org/1999/html">{{ LANG.DESIGN_TITLE }}</h1>
<div class="design-settings">
<form action="" method="POST" class="form-inline" >
<div class="setting container-fluid" id="positions">
	<div class="well row">
		<span class="setting-title in-line">{{ LANG.POSITIONS }}</span></br>
		<span class="field-info">{{ LANG.POSITIONS_INFO }}</span>
	</div>
	<div class="row container-fluid setting-value in-line">
		{% for key,position in settings.positions %}
			<div class="row well">
				<input class="form-control" type="text" name="settings[positions][{{ position.id }}]" value="{{ position.title }}" /><a style="cursor:pointer" class="del-pos glyphicon glyphicon-remove btn btn-danger" id="{{ position.id }}" ></a>
			</div>
		{% endfor %}
		<a style="cursor:pointer" class="add-pos btn btn-success" id="add-pos">{{ LANG.ADD }}</a></div>
	</div>
</div>
<input type="hidden" name="del_pos" id="del_pos" value="0" />
<input class="btn btn-primary" type="submit" name="submit" value="{{ LANG.SEND }}">
<input class="btn btn-default" type="button" onclick="window.location = '{{ comLink }}'" name="back" value="{{ LANG.BACK }}">
</form>
</div>
<script type="text/javascript">

jQuery(document).on('click','.del-pos', function(){
	if(jQuery(this).attr('id')){
		jQuery('#del_pos').val(jQuery('#del_pos').val()+','+jQuery(this).attr('id'));
	}
	jQuery(this).closest('div').remove();

});
jQuery('.add-pos').click(function(){

	var html = '';
	html += '<div class="row well"><input class="form-control" type="text" name="settings[positions][new][]" value="" />';
	html += '<a style="cursor:pointer" class="del-pos glyphicon glyphicon-remove btn btn-danger" ></a></div>';
	jQuery('#add-pos').before(html);

})
</script>