<h1>{{ LANG.SYS_SETTINGS_TITLE }}</h1>
<div class="admin-settings container-fluid">
<form action="" method="POST" class="form-group" >
{% for title,setting in settings %}
<div class="setting row input-group">
	<span class="input-group-addon">
		{{ LANG[title] }}
	</span>
	{% if title != 'DB_USER' 
			and 
			title != 'DB_PASS'
			and 
			title != 'DB_PREFIX'
			and
			title != 'DB_DATABASE'
			and
			title != 'DB_HOST'
			and
			title != 'DB_ENC' %}
		<input class="form-control" type="text" name="config[{{ title }}]" value="{{ setting }}" />
	{% else %}
		<input disabled="disabled" class="form-control" type="text" name="config[{{ title }}]" value="{{ setting }}" />
	{% endif %}

</div>

	<div class="field-info">
		{{ LANG[title~'_INFO'] }}
	</div>
{% endfor %}
	<input class="btn btn-primary" type="submit" name="submit" value="{{ LANG.SEND }}">
	<input class="btn btn-default" type="button" onclick="window.location = '{{ comLink }}'" name="back" value="{{ LANG.BACK }}">
</form>
</div>