{% set hash = md5(name) %}
{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.name_wrap|first|raw }}
		<label>{{ params.label|raw }}</label>
	{{ params.name_wrap|last|raw }}
	<div class="btn-group" role="group" aria-label="...">

		{% for type in params.allowed_fields %}
			<input
				{{ params.attrs['query-title-field'] ==  type ? '' : 'disabled' }}
			query-input-link="{{ name~hash }}"
			type="button"
			name=""
			class="btn btn-primary allowed_fields {{ params.attrs['query-title-field'] ==  type ? 'active' : '' }}"
			value="{{ type }}"
			/>
		{% endfor %}

	</div>
	{{ params.input_wrap|first|raw }}
		<select id="{{ hash }}" name="{{ name }}{{ params.multiple ? '[]' : '' }}"  {{ params.multiple ? 'multiple="multiple"' : '' }}
			{% for attr,value in params.attrs %}
				{{ attr }} = "{{ value }}"
			{% endfor %}
			{{ params.disabled is not empty ? 'disabled="disabled"' : '' }}
			 >
			{% for val,opLabel in params.options %}
				<option value="{{ val }}"
						{% if (params.value is iterable ? val in params.value : val == params.value)
							or
							(params.default_value is iterable ? val in params.default_value : val == params.default_value) %}
						selected="selected"
						{% endif %}>{{ opLabel }}</option>
			{% endfor %}
		</select>
	{{ params.input_wrap|last|raw }}
</div>
{{ params.block_wrap|last|raw }}
 <script type="text/javascript">
 $(document).ready(function(){
    var config = {
        '.chosen-select#{{ hash }}' : {
      	display_selected_options:false,
      	no_results_text: "Oops, nothing found!!!!",
	 	{{ params.max_selected_options is defined ? "max_selected_options:"~params.max_selected_options~"," : '' }}
      },
        '.chosen-select-deselect#{{ hash }}' : {allow_single_deselect:true},
        '.chosen-select-no-single#{{ hash }}': {disable_search_threshold:10},
        '.chosen-select-no-results#{{ hash }}': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width#{{ hash }}': {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
 })
 </script>