{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.name_wrap|first|raw }}
	<label>{{ params.label }}</label>
	{{ params.name_wrap|last|raw }}
	{{ params.input_wrap|first|raw }}
	<div
	{% for attr,value in params.attrs %}
		{{ attr }} = "{{ value }}"
	{% endfor %}
	>
		{% set editorParams = {'name' : name, 'value' : (params.value is not empty ? params.value : params.default_value)} %}
		{{ eventPopUp('viewCodeEditor', editorParams) }}
	</div>
	{{ params.input_wrap|last|raw }}
</div>
{{ params.block_wrap|last|raw }}