{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.name_wrap|first|raw }}
	<label>{{ params.label }}</label>
	{{ params.name_wrap|last|raw }}
	<script type="text/javascript">
		var imagesUrl = '{{ params.value }}';
		function removeImage(el){
			var regexp = new RegExp(el.attr('src')+",*");
			imagesUrl = imagesUrl.replace(regexp,"");
			imagesUrl = trimChar(imagesUrl,",");
			el.parent().parent().find('input.kcInput').val(imagesUrl);
			el.remove();
		}
		function trimChar(string, charToRemove) {
			while(string.charAt(0)==charToRemove) {
				string = string.substring(1);
			}

			while(string.charAt(string.length-1)==charToRemove) {
				string = string.substring(0,string.length-1);
			}

			return string;
		}
	</script>
	{{ params.input_wrap|first|raw }}
	<div class="image-preview">
		{% if params.value is not empty %}
			{% for imgUrl in params.value|split(',') %}
				<img src="{{ imgUrl }}" onclick="removeImage(jQuery(this));"  />
			{% endfor %}
		{% endif %}
	</div>
	<input type="hidden" class="kcInput" name="{{ name }}" value="{{ params.value }}" />
	<button
		{% for attr,value in params.attrs %}
			{{ attr }} = "{{ value }}"
		{% endfor %}
		onclick="openKCFinder_multipleFiles(jQuery(this)); return false;">UPLOAD</button>
	{{ params.input_wrap|last|raw }}
</div>
{{ params.block_wrap|last|raw }}