<!-- Modal -->
{*additional_links*}
  <form method="post"
    {% for attr,value in form_attrs %}
      {{ attr }} = "{{ value }}"
    {% endfor %}
    >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ title|raw }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ data|raw }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save-modal" onclick="$(this).closest('form').submit()" >{{ LANG.SAVE }}</button>
        <button type="button" class="btn btn-default" id="cancel-modal" data-dismiss="modal">{{ LANG.CANCEL }}</button>
      </div>
    </div>
  </div>
</form>
