{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
<label>
	{{ params.input_wrap|first|raw }}
		<input type="radio" group="{{ params.group }}"
			{% for attr,value in params.attrs %}
				{{ attr }} = "{{ value }}"
			{% endfor %}
			{{ params.disabled is not empty ? 'disabled="disabled"' : '' }}
		 name="{{ name }}"
		 value="{{ params.default_value }}"
		 {{ params.default_value == params.value and params.value is not empty ? 'checked="checked"' : '' }}
		 />
	{{ params.input_wrap|last|raw }}
	{{ params.name_wrap|first|raw }}
		{{ params.label }}
	{{ params.name_wrap|last|raw }}
</label>
</div>
{{ params.block_wrap|last|raw }}