{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.name_wrap|first|raw }}
		<label>{{ params.label }}</label>
	{{ params.name_wrap|last|raw }}

	{{ params.input_wrap|first|raw }}
		<select name="{{ name }}{{ params.multiple ? '[]' : '' }}"  {{ params.multiple ? 'multiple="multiple"' : '' }}
			{% for attr,value in params.attrs %}
				{{ attr }} = "{{ value }}"
			{% endfor %}
			{{ params.disabled is not empty ? 'disabled="disabled"' : '' }}
			 >
				<option value="" >-- select --</option>
			{% for val,opLabel in params.options %}
				<option value="{{ val }}"
				{% if (params.value is iterable ? val in params.value : val == params.value)
					or
				(params.default_value is iterable ? val in params.default_value : val == params.default_value) %}
					selected="selected"
				{% endif %}>{{ opLabel }}</option>
			{% endfor %}
		</select>
	{{ params.input_wrap|last|raw }}
</div>
{{ params.block_wrap|last|raw }}