/* 
	Resets defualt browser settings
	reset.css
*/


/*
	Page style
*/

#slide_container {
	position:relative;
	z-index:0;
	padding-bottom:15px;
}

#slides .slidesNext,#slides .slidesPrevious {
	position:absolute;
	top:50%;
	left:-40px;
	width:24px;
	height:0;
	margin-top:-32px;
	padding-top:32px;
	display:block;
	z-index:101;
	overflow:hidden;
	background:url(../img/navigation-previous.png) no-repeat 0 0;
}

#slides .slidesNext {
	left:556px;
	background:url(../img/navigation-next.png) no-repeat 0 0;
}

#slide_container{
visibility:hidden;
}

#slider_head{
z-index:100;
right:0px;
position:absolute;
padding-top:0px;
padding-right:20px;
}

.slide_title{
-khtml-opacity: 0.7;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70)
filter: alpha(opacity=70); 
-moz-opacity:0.7;
opacity:0.7;
background:black;
color:grey;
position:absolute;
width:100%;
height:50px;
display:none;
}

#slides .slidesNext {
opacity:0.7;
-moz-opacity:0.7;
right:1px;
}

#slides .slidesPrevious {
left:1px;
opacity:0.7;
-moz-opacity:0.7;
}

#slides {
}

/*
	Pagination
*/

.slidesPagination {
	margin:10px 0 0;
	float:right;
	display:none;
}

.slidesPagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.slidesPagination li a {
	display:block;
	width:14px;
	height:0;
	padding-top:14px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	overflow:hidden;
}

.slidesPagination li.slidesCurrent a {
	background-position:0 -14px;
}