<div class="landing-page container-fluid">
	{% for block in blocks %}
		<div class="row">
			<div class="col-md-12">
				<h2>{{ block.title }}</h2>
				<div class="landing-page-block">{{ block.content|raw }}</div>
			</div>
		</div>
	{% endfor %}
</div>