{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.input_wrap|first|raw }}
	<button type="button"

		{% for attr,value in params.attrs %}
			{{ attr }} = "{{ value }}"
		{% endfor %}

		{{ params.disabled is not empty ? 'disabled="disabled"' : '' }}

	>
	{{ params.name_wrap|first|raw }}
		{{ params.label }}
	{{ params.name_wrap|last|raw }}

	</button>
	{{ params.input_wrap|last|raw }}
</div>
{{ params.block_wrap|last|raw }}