{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
<label>
	{{ params.input_wrap|first|raw }}
		<input type="checkbox"
			{% for attr,value in params.attrs %}
				{{ attr }} = "{{ value }}"
			{% endfor %}
			{{ params.disabled is not empty ? 'disabled="disabled"' : '' }}
		 name="{{ name }}"
			{% if params.value == 1 or (params.default_value == 1 and params.value is not defined) %}
				checked="checked"
			{% endif %}"
			value="1"
		 />
	{{ params.input_wrap|last|raw }}
	{{ params.name_wrap|first|raw }}
		{{ params.label }}
	{{ params.name_wrap|last|raw }}
</label>
</div>
{{ params.block_wrap|last|raw }}