{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.name_wrap|first|raw }}
	<label>{{ params.label }}</label>
	{{ params.name_wrap|last|raw }}
	{{ params.input_wrap|first|raw }}
	<div class="input-group spinner">
		<input type="text"
			   {% for attr,value in params.attrs %}
			   {{ attr }} = "{{ value }}"
			   {% endfor %}
			   {{ params.disabled is not empty ? 'disabled="disabled"' : '' }}
		name="{{ name }}"
		value="{{ params.value is not empty ? params.value : (params.default_value is not empty ? params.default_value : 0) }}"
		class="form-control"
		/>
		<div class="input-group-btn-vertical">
			<button class="btn btn-default dropup" type="button"><span class="fa fa-caret-up caret"></span></button>
			<button class="btn btn-default dropdown" type="button"><span class="fa fa-caret-down caret"></span></button>
		</div>
	</div>
	{{ params.input_wrap|last|raw }}
</div>
{{ params.block_wrap|last|raw }}




