{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.name_wrap|first|raw }}
	<label>{{ params.label }}</label>
	{{ params.name_wrap|last|raw }}

	{{ params.input_wrap|first|raw }}
	<div class="input-group">
	<span class="add-on input-group-addon">
		  <i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
		<input type="text" id="date-picker-{{ params.id }}"
			   {% for attr,value in params.attrs %}
			   {{ attr }} = "{{ value }}"
			   {% endfor %}
			   {{ params.disabled is not empty ? 'disabled="disabled"' : '' }}
		name="{{ name }}"
		value="{{ params.value is not empty ? params.value : params.default_value }}"
		/>
		{{ params.input_wrap|last|raw }}
	</div>
	{{ params.block_wrap|last|raw }}

</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#date-picker-{{ params.id }}').datepicker({
			format: "yyyy-mm-dd"
		});
	});
</script>