{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.name_wrap|first|raw }}
		<label>{{ params.label }}</label>
	{{ params.name_wrap|last|raw }}

	{{ params.input_wrap|first|raw }}
			<a href="{{ params.href }}"
				{% for attr,value in params.attrs %}
					{{ attr }} = "{{ value }}"
				{% endfor %}>
			 {{ params.value is not empty ? params.value : params.default_value }}
			 </a>
	{{ params.input_wrap|last|raw }}
</div>
{{ params.block_wrap|last|raw }}