{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.name_wrap|first|raw }}
	<label>{{ params.label }}</label>
	{{ params.name_wrap|last|raw }}

	{{ params.input_wrap|first|raw }}

	<div class="row">
		<div class="col-xs-5">
			<select name="{{ name }}[]" id="multiselect_{{ params.id }}" class="form-control" size="8" multiple="multiple">
				{% set selected = [] %}
				{% for val,opLabel in params.options %}
					{% if (params.value is iterable ? val in params.value : val == params.value)
					or
					(params.default_value is iterable ? val in params.default_value : val == params.default_value) %}
						<option value="{{ val }}" selected="selected">{{ opLabel }}</option>
						{% set selected = selected|merge([val]) %}
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="col-xs-2">
			<button type="button" id = "multiselect_{{ params.id }}_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
			<button type="button" id = "multiselect_{{ params.id }}_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
			<button type="button" id = "multiselect_{{ params.id }}_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
			<button type="button" id = "multiselect_{{ params.id }}_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
		</div>
		<div class="col-xs-5">
			<select name="to" id="multiselect_{{ params.id }}_to" class="form-control" size="8" multiple="multiple">
				{% for val,opLabel in params.options %}
					{% if val not in selected %}
						<option value="{{ val }}">{{ opLabel }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	{{ params.input_wrap|last|raw }}
</div>
{{ params.block_wrap|last|raw }}

<script type="text/javaScript">
	$('#multiselect_{{ params.id }}').multiselect().closest('form').submit(function(){
		$('#multiselect_{{ params.id }} option').attr('selected','selected');
	});
</script>
