{{ params.block_wrap|first|raw }}
<div class="{{ name in errors ? 'form-group has-error' : '' }}">
	{{ params.name_wrap|first|raw }}
		<label>{{ params.label }}</label>
	{{ params.name_wrap|last|raw }}

	{{ params.input_wrap|first|raw }}
		<textarea
			{% for attr,value in params.attrs %}
				{{ attr }} = "{{ value }}"
			{% endfor %}
			{{ params.disabled is not empty ? 'disabled="disabled"' : '' }}
		 name="{{ name }}">{{ params.value is defined ? params.value : params.default_value }}</textarea>
	{{ params.input_wrap|last|raw }}
</div>
{{ params.block_wrap|last|raw }}