.profile-info{
	text-align: left;
}

.user-profile-field{
	width: 50%;
}

.user-profile-value{

}

.user-profile-field-description{
	text-align: left;
    width: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar-settings{
	text-align: left;
}

.profile-settings{
	padding-right: 5px;
}