@import url("profile.css"); 

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    height: 100%;
}

body {
    background: url(../images/main_back.jpg);
    height: 100%;
    word-wrap: break-word;
}

a {
    color: black;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    margin-left: 0;
}

a:hover {
    color: #890994;
    text-decoration: none;
}

#wrapper {
    position: relative;
    height: auto !important;
    min-height: 100%;
    display: block;
    text-align: center;
}

* html #wrapper {
    height: 100%;
}

input[type="submit"], input[type="button"] {
    font-size: 21px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: inset 0px 0px 25px 3px grey;
    color: white;
    cursor: pointer;
}

.in-line {
    display: inline-block;
    vertical-align: top;
/ / position: relative;
/ / zoom: 1;
/ / display: inline;
}

.content-item {
    width: 315px;
    padding: 20px;
    border: 1px solid silver;
    vertical-align: top;
    min-height: 420px;
    margin: 3px;
}

.content-title {
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
    border-bottom: 1px solid silver;
    padding-bottom: 12px;
    font-size: 17px;
    font-family: serif;
    color: grey;
    font-style: italic;
}

.content-img-div {
    text-align: center;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid silver;
}

.content-desc {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 205px;
}

.content-img {
    width: 230px;
}

.left {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.content-item-read {
    margin: auto;
    padding: 20px;
    border: 1px solid silver;
}

.pub-url {
    margin-top: 40px;
    text-align: right;
    color: grey;
    font-size: 15px;
}

.main-content {
    margin-top: 35px;
}

.sidebar {
    margin-top: 35px;
}

.comments {
    color: grey;
}

.mod-title {
    background: whitesmoke;
    padding: 10px;
    color: silver;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid silver;
}

.cat-link {
    text-decoration: none;
    border-right: 1px solid grey;
    padding: 5px;
    margin: 5px;
    padding-right: 20px;
    font-style: italic;
    color: silver;
}

.cat-link:hover {
    color: black;
    text-shadow: 1px 1px silver;
}

.publication-cats {
    border-bottom: 1px solid silver;
    background: whitesmoke;
}

.content-filter {
    position: absolute;
    background: black;
    width: 100%;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 12px 0px grey;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    left: 0px;
    top: 99px;
}

.content-filter .in-line {
    vertical-align: middle;
    color: grey;
}

.content-input {
    background: ghostwhite;
    border: 5px solid grey;
    border-radius: 12px;
}

.content-button {
    border-radius: 12px;
    border: 5px solid white;
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}

.content-clear-filter{
    padding: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    background: gainsboro;
    opacity: 0.7;
    position: fixed;
    right: 0;
    top: 0;
}

.content-next-link {
    border-top-left-radius: 25px;
    right: 0px;
    z-index: 1;
}

.content-prev-link {
    border-top-right-radius: 25px;
    left: 0px;
}

.content-info-block {
    font-size: 30px;
    color: silver;
    vertical-align: middle;
    line-height: 75px;
    margin: 100px;
}

.head .mod, .bottom .mod {
    text-align: center;
}

.reg-field-div, .user_register_form {
    text-align: left;
}

.comment {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 20px;
    list-style: none;
    text-align: left;
}

.answer-button {
    cursor: pointer;
    padding: 5px;
    display: block;
    background: silver;
    width: 62px;
    border-radius: 5px;
    color: grey;
}

.cur_answer {
    display: none;
    padding: 20px;
    margin: 20px;
    text-align: left;
    background: whitesmoke;
    border-radius: 5px;
    color: grey;
}

.comment-ul {
    padding-left: 20px;
}

.comment-date {
    float: right;
    color: grey;
    margin-top: -15px;
    font-size: 11px;
}

li.menu-item {
    box-shadow: inset 0px 0px 25px 3px grey;
    border-radius: 5px;
    margin: 10px;
}

li.menu-item:hover {
    background: whitesmoke;
    border-radius: 5px;
    margin: 10px;
}

li.menu-item a {
    color: grey;
    text-decoration: none;
    display: block;
    padding: 10px;
}

li.menu-item a:hover {
    color: grey;
    text-decoration: none;
}

#header {
    text-align: center;
    font-size: 66px;
    font-family: fantasy;
    font-style: oblique;
    text-shadow: 5px 3px 4px darkgray;
    box-shadow: inset 0px 0px 75px 0px grey;
    margin-bottom: 40px;
}

.lastcomm-author, .lastcomm-date {
    color: grey;
    float: left;
    font-style: italic;
}

.lastcomm-date {
    float: right;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.lastcomm-item {
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px dashed grey;
    padding-bottom: 15px;
}

.msg {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.primary {
    border-left-color: #286090;
}

.success {
    border-left-color: #449d44;
}

.info {
    border-left-color: #1b809e;
}

.warning {
    border-left-color: #aa6708;
}

.error {
    border-left-color: #ce4844;
}


.alert-error {
    color: #a94442;
    background-color: #f2dede;
}

.pagination>li>a.pagination-active{
    color: grey;
    background: whitesmoke;
}

.pagination>li{
    margin: 0;
}

.profile-settings{
    text-align: left;
}

