<div id="slides-container">
	<span class="html-edit-value">
		{% set params = {'width' : '100%', 'height' : 200,'name' : 'settings[html]', 'value' : html, 'type': 'custom'} %}
		{{ eventPopUp('viewEditor', params) }}
	</span></div>
</div>