<div id="lastcomm-container" class="row">
    <div class="form-group col-lg-12">
        <div class="input-group well row">
            <span class="pre-text input-group-addon">
                {{ LANG.COUNT }}
            </span>
            <input class="form-control" type="text" name="settings[count]" value="{{ count }}" />
        </div>
        <div class="input-group well row">
            <span class="pre-text input-group-addon">
                {{ LANG.BY_URL }}
            </span>
            <input class="form-control" type="text" name="settings[by_url]" value="{{ by_url }}" placeholder="{{ LANG.BY_URL_DESCRIPTION }}" />
        </div>
        <div class="input-group well row">
            <div class="form-control">
                <input class="" type="checkbox" name="settings[show_author]" value="1" {% if show_author == 1%}checked="checked"{% endif %}/>
                <label class="pre-text">{{ LANG.SHOW_AUTHOR }}</label>
            </div>
        </div>
        <div class="input-group well row">
            <div class="form-control">
                <input class="" type="checkbox" name="settings[show_date]" value="1" {% if show_date == 1%}checked="checked"{% endif %} />
                <label class="pre-text">{{ LANG.SHOW_DATE }}</label>
            </div>
        </div>
    </div>
</div>