<div id="menus-container">
<h1>{{ LANG.MENU_ITEMS }}</h1>
<hr/>
<div id="items-list">
	{% for key,menu in menus %}

		<div class="form-inline">
			<span class="menu-link input-group">
				<span class="input-group-addon">{{ LANG.LINK }}</span>
				<input class="form-control" name="settings[items][{{ key }}][link]" value="{{ menu.link }}" />
			</span>
			<span class="menu-title input-group">
				<span class="input-group-addon">{{ LANG.TITLE }}</span>
				<input class="form-control" name="settings[items][{{ key }}][title]" value="{{ menu.title }}"  />
			</span>
			<span class="menu-delete"><a class="del-link delete glyphicon glyphicon-remove btn btn-danger" onclick="delMenu(jQuery(this))"></a></span>
		</div>

	{% endfor %}
</div>
</div>
<input class="btn btn-primary" id="add-buttton" type="button"  onclick="addItem()" value="{{ LANG.ADD }}"  /></br></br>
<input id="delInput" type="hidden" name="delete" value="0" />
<script type="text/javascript">

var count_items = {{ menus|length }};

function addItem(){

	var 	html = '<div class="form-inline">';
		html += '<span class="menu-link input-group"><span class="input-group-addon">{{ LANG.LINK }}</span><input class="form-control" name="settings[items]['+count_items+'][link]" value="" /></span>';
		html += '<span class="menu-title input-group"><span class="input-group-addon">{{ LANG.TITLE }}</span><input class="form-control" name="settings[items]['+count_items+'][title]" value=""  /></span>';
		html += '<span class="menu-delete"><a class="del-link delete glyphicon glyphicon-remove btn btn-danger" onclick="delMenu(jQuery(this))"></a></span>';
		html += '</div>';
	jQuery('#items-list').append(html);
		count_items++;
}


function delMenu(obj){

jQuery('#delInput').val(obj.closest('div').find('.menu-link').val());

obj.closest('div').remove();

obj.closest('form').submit();

}

</script>