<div id="slides-container">
    {% for key,slide in slides %}
            <div class="row form-inline well">
                <span class="slide-img"><img class="img-rounded" id="slid-image-{{ key }}" src="{{ slide.img }}"
                                             width="100"/></span>
                <span class="slide-title input-group">
                    <span class="input-group-addon">{{ LANG.IMAGE_TITLE }}</span>
                    <input class="form-control" name="settings[items][{{ key }}][title]"
                                                 value="{{ slide.title }}"/>
                </span>
                <span class="slide-link input-group">
                    <span class="input-group-addon">{{ LANG.IMAGE_LINK }}</span>
                    <input class="form-control" name="settings[items][{{ key }}][link]"
                                                value="{{ slide.link }}"/>
                </span>
                <span class="slide-delete">
                    <a class="del-link delete glyphicon glyphicon-remove btn btn-danger" onclick="delPic(jQuery(this))">

                    </a>
                </span>
                <input id="slide-image-input-{{ key }}" type="hidden"
                       name="settings[items][{{ key }}][img]" value="{{ slide.img }}"/>
            </div>
    {% endfor %}
<div class="row">
    <input id="add-buttton" type="button" class="btn btn-info" onclick="openKCFinder_uploadSlide()" value="{{ LANG.ADD_IMAGE }}"/>
</div>
   <br/>
<div class="row well">
    <label class="pre-text">{{ LANG.SLIDER_TYPE }}</label>
    <input id="delInput" type="hidden" name="delete" value="0"/>
    <span>
	<select name="settings[type]" class="form-control">
		<option {% if type == 'camera1' %}selected="selected"{% endif %} value="camera1">camera1</option>
		<option {% if type == 'camera2' %}selected="selected"{% endif %} value="camera2">camera2</option>
		<option {% if type is empty %}selected="selected"{% endif %} value="">standart</option>
	</select>
</span>
</div>
<script type="text/javascript">

    var count_slides = {{ slides|length }};

    function openKCFinder_uploadSlide() {
        window.KCFinder = {};
        window.KCFinder.callBack = function (url) {
            // Actions with url parameter here
            var html = '';
            html += '<div class="row form-inline well">';
            html += '<span class="slide-img"><img class="img-rounded" id="slid-image-' + count_slides + '" src="' + url + '" width="100" /></span>';
            html += '<span class="slide-title input-group"><span class="input-group-addon">{{ LANG.IMAGE_TITLE }}</span><input class="form-control" name="settings[items][' + count_slides + '][title]" value=""  /></span>';
            html += '<span class="slide-link input-group"><span class="input-group-addon">{{ LANG.IMAGE_LINK }}</span><input class="form-control" name="settings[items][' + count_slides + '][link]" value="" /></span>';
            html += '<span class="slide-delete"><a  class="del-link delete  glyphicon glyphicon-remove btn btn-danger" onclick="delPic(jQuery(this))"></a></span>';
            html += '<input id="slide-image-input-' + count_slides + '" type="hidden" name="settings[items][' + count_slides + '][img]" value="' + url + '"/>';
            html += '</div>';
            jQuery('#slides-container').prepend(html);
            window.KCFinder = null;
            count_slides++;
        };
        window.open('/extensions/ckeditor/kcfinder/browse.php?type=images&lng=uk&theme=dark&dir=upload', 'kcfinder_single' + count_slides);
    }


    function delPic(obj) {

        jQuery('#delInput').val(obj.closest('div').find('img').attr('src'));

        obj.closest('div').remove();

        obj.closest('form').submit();

    }

</script>

</div>