
#fetures-modal{
	background: white;
	border: 1px solid silver;
	border-radius: 5px;
	margin: auto;
	width: 90%;
	height: 90%;
	padding: 20px;
	margin-top: 30px;

}

.shop-variant{
	width: 15px;
	box-shadow: none;
	margin: auto !important;
}

.shop-variant:focus{
	box-shadow: none;
}

.order-feature-title{
	line-height: 30px;
	font-size: 20px;
	border-bottom: 1px dashed grey ;
	border-top: 1px solid black;
	margin-bottom: 10px;
}


.order-feature-title:first-of-type{
	margin-top: 0;
}


.v-submit{
	margin-top: 20px;
}


#order-products .input-group.spinner {
    width: 50px;
}

.order-product-code{
	line-height: 15px;
}

.product-title{
	line-height: 15px;
}

.code-label, .code-value{
    line-height: 15px;
}

.qty-label-wrapper{
	line-height: 50px;
}

.manager-label-wrapper{
	line-height: 50px;
}

#chose-product-variants{
	line-height: 100px;
	color: white ;
	cursor: pointer;
}

.modal-body{
	overflow-y:scroll;
}

.divider{
	margin-bottom: 30px; 
}

.order-nav{margin-right: 10px;}

.in-line{
    display: inline-block;
}

.v-a-middle{
    float: none;
    vertical-align: middle;
    display: inline-block;
}