html, body {
  margin:0;
  padding:0;
  width:100%;
}

body {
	word-wrap: break-word;
}

a {  }

a:hover { text-decoration:none; }

#wrapper {
  position:relative;
  height:auto !important;
  display:block;
}

* html #wrapper {
}

/*
.admin-main-content input{
color:grey;
padding:10px;
}

.admin-main-content select{
padding: 10px;
font-style: italic;
border-radius: 10px;	
}

input[type="submit"],input[type="button"]{
font-size: 21px;
padding:4px;
padding-left:20px;
padding-right:20px;
background: grey;
color: white;
cursor: pointer;
}

.bordered{

border: 1px solid grey;
padding:10px;
margin:10px;
text-align: center;
	
}

.admin-menu-img{

margin: 10px;
width: 50px;
height: 50px;

}

.publication-edit-field, .cat-edit-field, .rule-edit-field, .group-edit-field, .user-edit-field, .cron-edit-field, .setting-title{
width:255px;
vertical-align:top;
display: inline-block;
text-align: left;
vertical-align: middle;
font-size: 16px;
}

.in-line{
display:inline-block;
//position:relative;
//zoom:1;
//display:inline;
vertical-align: middle;
}

.published, .unpublished{
color: white;
text-decoration: none;
padding: 3px;
border-radius: 13px;
display: inline-block;
width: 16px;
height: 16px;
text-align: center;
line-height: 18px;	
border: 2px solid silver;
}

.unpublished{
background: red;
}

.published{
background: darkseagreen;	
}

.pagination-back, .pagination-forward{
padding: 10px;
text-decoration: none;
color: green;
font-weight: bold;
font-family: monospace;
}

.page-info{
padding: 15px;
color: grey;
padding-left: 0px;
}
	
.pagination-link{
color:grey;
padding:3px;
border:1px solid silver;
border-radius:2px;
}

.pagination{
margin:40px;	
}
	
.pagination-active{}
	
.del-link{
color:red;
cursor:pointer;
}
span.pre-text {
font-size: 20px;
line-height: 60px;
margin: 14px;
}
span.slide-img, span.menu-link{
width: 100px;
display: inline-block;
margin: 10px;
text-align: center;
font-size: 15px;
vertical-align: middle;
}
span.slide-title, span.slide-link, span.slide-delete, span.menu-title, span.menu-delete {
width: 200px;
display: inline-block;
text-align: center;
vertical-align: middle;
font-size: 16px;
}

span.slide-delete{
width:75px;
}

.field-info{
color: silver;
font-size: 12px;
font-style: italic;
}

.cur-priority {
background: yellow;
padding: 5px;
}

.plus, .minus{
padding:5px;
background:whitesmoke;
border:1px solid silver;
text-decoration:none;
}

.minus{
color:red;
}

.plus{
color:green;
}

.del-link{
padding:5px;
background:whitesmoke;
border:1px solid silver;
}

.setting-block .in-line {
width: 300px;
}

.admin-menu-href{
  margin: 20px;
  border:1px solid grey;
  line-height: 40px;
  padding:5px;
  word-wrap: break-word;
}

.admin-menu-href:hover{
  border-radius: 3px;
  background: whitesmoke;
}

.admin-main-content table th {
background: whitesmoke;
height: 40px;
padding: 10px;
text-align: center;
border: 1px solid silver;
border-bottom: 0px;
}

.admin-main-content table td {
border: 1px solid silver;
text-align: center;
padding: 10px;
}


.admin-head-menu li.admin-menu-item {
display: inline-block;
vertical-align: top;
line-height: 20px;
}

.admin-head-menu li.admin-menu-item ul {
padding-left: 0;
left: 0;
top: 20px;
}
*/

#wrapper {
  margin: 100px;
  margin-top: 10px
}

.admin-menu-item{
  vertical-align: top;
}

.list-group-item a{
  display: block;
}
.list-group-item:hover{
background:#f7f7f9;
}

.list-group-item.active a{
  color: white;
}

.list-group-item.active{
  background: #337ab7;
}

.image-preview img{
  height:100px;
  margin: 10px;
}

.image-preview{
  margin: 20px;
}

.msg {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.primary{border-left-color: #286090;}
.success{border-left-color: #449d44;}
.info{border-left-color: #1b809e;}
.warning{border-left-color: #aa6708;}
.error{border-left-color: #ce4844;}

.text-center{
  text-align: center;
}

a.copy, a.edit, a.delete{
  margin: 10px;
}

.for_filter{
  width:100% !important;
}

.list-not-found{
  text-align: center;
}

.in-line{
display:inline-block;
//position:relative;
//zoom:1;
//display:inline;
vertical-align: middle;
float:none;
}

.shop-order-product-add{
  margin-bottom: 30px;
}

.mod-filter-id {
  width: 50px !important;
}

.mod-filter-title {
  width: 300px !important;
}

.mod-filter-route {
  width: 200px !important;
}

.mod-filter-pos {
  width: 100px !important;
}

.mod-filter-pub {
  width: 150px !important;
}

.mod-filter-prio {
  width: 100px !important;
}

.setting-title{
  color: grey;
}

.field-info{
  color: grey;
}

.field-info, .setting-title{
  font-style: italic;
  font-family:  Monospace;
  font-size: 12px;
  margin-bottom:5px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
}